html,body{
    user-select: none;
    background-color: #1f1f1f;
    background-image: url("../../assets/face-detect-2/background-2.png"), url("../../assets/face-detect-2/background.png");
    background-size: cover, 100%;
    background-repeat: no-repeat, no-repeat;
}
